extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home_slider
			.container
				.row
					.col    
						h1 
							|Hi there! We are the new kids on the block 
							br 
							|and we build awesome  websites and mobile apps    
						p
							a.btn.btn-more(href="#") Work with us!
	section.home_services
		.container
			.row
				.col
					h2 SERVICES WE PROVIDE
					p
						|We are working with both individuals and businesses from all over the globe 
						br
						|to create awesome websites and applications.
			.row
				.col-sm-6.col-md-3
					img.img-fluid(src="./img/home_icon_1.png",alt="",srcset="")
					h3 BRANDING
					p 
						|Lolem ípum dolor sit amet, 
						br 
						|consetetuer adipiscing elit,
						br
						|sed diam nonummy nibh.
				.col-sm-6.col-md-3
					img.img-fluid(src="./img/home_icon_2.png",alt="",srcset="")
					h3 DESIGN
					p 
						|Sed up perspiciatis unde
						br
						|omnis iste natus error sit
						br
						|voluptatem.
				.col-sm-6.col-md-3
					img.img-fluid(src="./img/home_icon_3.png",alt="",srcset="")
					h3 DEVELOPMENT
					p 
						|At vero eos et accusamus et
						br
						|iusto odio dignissimos qui
						br
						|blanditiis praesentium.
				.col-sm-6.col-md-3
					img.img-fluid(src="./img/home_icon_4.png",alt="",srcset="")
					h3 ROCKET SCIENCE
					p 
						|Et harum quidem rerum est
						br
						|et expedita distinctio. Nam
						|libero tempore
	section.home_ourteam
		.container
			.row
				.col
					h2 MEET OUR BEAUTIFUL TEAM
					p 
						|We are a small team of designers and developers, who help brands  with big ideas.	
			.row
				.col-sm-6.col-md-3
					img.img-fluid(src="./img/home_avatar_1.png",alt class="rounded-circle")
					h3 ANNE HATHAWAY 
					h4 CEO / Marketing Guru
					p 
						|Lolem ispum dolor sit amet, 
						br 
						|consetetuer adipiscing elit,
						br
						|sed diam nonummy nibh.
					ul.list-inline-item
						li.list-inline-item
							a(href="#")
								i.fa.fa-facebook
						li.list-inline-item
							a(href="#")
								i.fa.fa-twitter
						li.list-inline-item
							a(href="#")
								i.fa.fa-linkedin
						li.list-inline-item
							a(href="#")
								i.fa.fa-envelope
				.col-sm-6.col-md-3
					img.img-fluid(src="./img/home_avatar_1.png",alt class="rounded-circle")
					h3 KATE UPTON
					h4 Creative Director
					p 
						|Sed up perspiciatis unde
						br
						|omnis iste natus error sit
						br
						|voluptatem.
					ul.list-inline-item
						li.list-inline-item
							a(href="#")
								i.fa.fa-twitter
						li.list-inline-item
							a(href="#")
								i.fa.fa-linkedin
						li.list-inline-item
							a(href="#")
								i.fa.fa-envelope
				.col-sm-6.col-md-3
					img.img-fluid(src="./img/home_avatar_1.png",alt class="rounded-circle")
					h3 OLIVIA WILDE
					h4 Lead Designer
					p 
						|At vero eos et accusamus et
						br
						|iusto odio dignissimos qui
						br
						|blanditiis praesentium.
					ul.list-inline-item
						li.list-inline-item
							a(href="#")
								i.fa.fa-facebook
						li.list-inline-item
							a(href="#")
								i.fa.fa-twitter
						li.list-inline-item
							a(href="#")
								i.fa.fa-linkedin
						li.list-inline-item
							a(href="#")
								i.fa.fa-envelope
				.col-sm-6.col-md-3
					img.img-fluid(src="./img/home_avatar_1.png",alt class="rounded-circle")
					h3 ASHLEY GREEN
					h4 SEO / Developer
					p 
						|Et harum quidem rerum est
						br
						|et expedita distinctio. Nam
						br
						|libero tempore.
					ul.list-inline-item
						li.list-inline-item
							a(href="#")
								i.fa.fa-facebook
						li.list-inline-item
							a(href="#")
								i.fa.fa-twitter
						li.list-inline-item
							a(href="#")
								i.fa.fa-envelope
	section.home_skill
		.container
			.row
				.col
					h2 WE GOT SKILLS!
					p.skill-discription
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						br
						|tempor incididunt ut labore et dolore magna aliqua.
			.row
				.col-sm-6.col-md-3
					.progress-circle.progress-90
						p 90%
					h3 WEB DESIGN
				.col-sm-6.col-md-3
					.progress-circle.progress-75
						p 75%
					h3 HTML / CSS
				.col-sm-6.col-md-3
					.progress-circle.progress-70
						p 70%
					h3 GRAPHIC DESIGN
				.col-sm-6.col-md-3
					.progress-circle.progress-85
						p 85%
					h3 UI / UX
	section.home_portfolio
		.container
			.row
				.col
					h2 OUR PORTFOLIO
					p
						|Neque porro quisquam est, quia dolorem ipsum quia dolor sit amet
						br
						|consectetur, adipisci velit, sed quia non numquam
			.row
				.col
					ul.list-inline-item
						li.list-inline-item
							a(href="#") ALL
						li.list-inline-item
							a(href="#") WEB
						li.list-inline-item
							a(href="#") APPS
						li.list-inline-item
							a(href="#") ICONS
			.row
				.col-lg-6.col-md-6.col-sm-12
					img.img-fluid(src="./img/home_portfolio_1.png", alt="",srcset="")
					h4
						|ISOMETRIC PERSPECTIVE  MOCK-UP
				.col-lg-6.col-md-6.col-sm-12
					img.img-fluid(src="./img/home_portfolio_2.png", alt="",srcset="")
					h4
						|ISOMETRIC PERSPECTIVE  MOCK-UP
				.col-lg-6.col-md-6.col-sm-12
					img.img-fluid(src="./img/home_portfolio_3.png", alt="",srcset="")
					h4
						|ISOMETRIC PERSPECTIVE  MOCK-UP
				.col-lg-6.col-md-6.col-sm-12
					img.img-fluid(src="./img/home_portfolio_4.png", alt="",srcset="")
					h4
						|ISOMETRIC PERSPECTIVE  MOCK-UP
			.row
				.col
					p
						a.bnt.bnt-more(href="#") LOAD MORE PROJECT
	section.home_about
		.container
			.row
				.col
					h2 WHAT PEOPLE SAY ABOUT US
					p
						|Our clients love us!
			.row.about_content
				.col-lg-6.col-md-6.col-sm-12
					.row
						.col-sm-12.col-md-3
							img.img-fluid(src="../img/logo.png",alt class="rounded-circle", srcset="")
						.col-sm-12.col-md-9
							p
								i
									|"Nullam dabipus blandit orci, viverra
									br
									|gravida dui lobortis eget. Maecenas
									br
									|fringilla urna eu nisl scelerisque."
							h3 CHANEL IMAN
							h4 CEO of Pinterest
				.col-lg-6.col-md-6.col-sm-12
					.row
						.col-sm-12.col-md-3
							img.img-fluid(src="../img/logo.png",alt class="rounded-circle", srcset="")
						.col-sm-12.col-md-9
							p
								i
									|"Nullam dabipus blandit orci, viverra
									br
									|gravida dui lobortis eget. Maecenas
									br
									|fringilla urna eu nisl scelerisque."
							h3 CHANEL IMAN
							h4 CEO of Pinterest
				.col-lg-6.col-md-6.col-sm-12
					.row
						.col-sm-12.col-md-3
							img.img-fluid(src="../img/logo.png",alt class="rounded-circle", srcset="")
						.col-sm-12.col-md-9
							p
								i
									|"Nullam dabipus blandit orci, viverra
									br
									|gravida dui lobortis eget. Maecenas
									br
									|fringilla urna eu nisl scelerisque."
							h3 CHANEL IMAN
							h4 CEO of Pinterest
				.col-lg-6.col-md-6.col-sm-12
					.row
						.col-sm-12.col-md-3
							img.img-fluid(src="../img/logo.png",alt class="rounded-circle", srcset="")
						.col-sm-12.col-md-9
							p
								i
									|"Nullam dabipus blandit orci, viverra
									br
									|gravida dui lobortis eget. Maecenas
									br
									|fringilla urna eu nisl scelerisque."
							h3 CHANEL IMAN
							h4 CEO of Pinterest
	section.home_form
		.container.home_form_width
			.row
				.col
					.title-page.title-xam
						h2 GET IN TOUCH
						p
							|1600 pennsylvania Ave NW, Washington, DC, 20500, United States of Ameria. Tel: (202) 456-1111
			.form-group.row.mt-5
				.col-sm-6.mb-3
					input.form-control(type="text" placeholder="Your Name")
				.col-sm-6
					input.form-control(type="text" placeholder="Your Email")
			.form-group.row
				.col
					textarea.form-control(cols="30" rows="10" placeholder="Your Message")
			.form-group.row
				.col
					button.btn.btn-primary(type="submit") SEND MESSAGE


