@import ../_core/all
body
	font-family: Roboto
	p
		font-size: 1.5rem
		margin-top: 2rem
//section Slider
.home_slider 
	+design_section($wisteria,$whites, 368px)
	h1
		margin-bottom: 1.5rem
		font-size: 2.5rem
		padding-bottom: 1rem
	.btn-more
		color: $whites
		background: $dangerorange
		font-size: 2rem
		padding: 1rem
		transition: .5s all ease-in-out
		&:hover,
		&:active
			background: $danger
//section Service
.home_services
	+design_section($tquoise,$whites)
	h2
		+tag_before_after(darken($tquoise,10%))
	img
		margin: 2rem
		max-width: 120px
//section Meet Team
.home_ourteam
	+design_section($border,$black,600px)
	h2
		+tag_before_after(lighten($border,10%))
	p
		color: lighten($black,20%)
		margin-bottom: 1rem
	h4
		color: $sen
		font-size: 1rem
	img
		padding: .5rem
		margin: 1rem 0 2rem 0
		overflow: hidden
		display: inline-block
		height: 250px
		width: 250px
	ul
		padding: .5rem
		margin-bottom: 2rem
		.item.last-child
					
		li
			a
				display: block
				height: 2rem
				width: 2rem
				line-height: 2rem
				border-radius: 50%
				background: $whites
				color: $brown
				transition: .5s all ease-in-out
			&:hover,
			&:active
				a
					background: $peter-river
					color: lighten($brown,100%)
	+media-breakpoint-up(md)
		img
			height: 150px
			width: 150px
//section Skill
.home_skill
	+design_section($whites,$midnight-blue)
	h2
		+tag_before_after()
	h3
		color: $black
		font-size: 1.5rem
		padding-bottom: 2rem
		padding-top: .5rem
	.skill-discription
		padding: 2rem 0 3rem 0
	img
		max-width: 120px
	.progress-circle
		position: relative
		display: inline-block
		margin: 1rem
		width: 140px
		height: 140px
		border-radius: 50%
		background-color: $whites
		&:after
			content: ''
			display: inline-block
			width: 100%
			height: 100%
			border-radius: 50%
			-webkit-animation: colorload 2s
			animation: colorload 2s
		p
			font-size: 1.5rem
			color: $brown
			position: absolute
			left: 50%
			top: 50%
			display: block
			width: 120px
			height: 120px
			line-height: 120px
			margin-left: -60px
			margin-top: -60px
			text-align: center
			border-radius: 50%
			background: $whites
			z-index: 1
	.progress-90
		&:after
			background-image: linear-gradient(54deg, #30bae7 50%, transparent 50%, transparent), linear-gradient(270deg, #30bae7 50%, #ebebeb 50%, #ebebeb)
	.progress-75
		&:after
			background-image: linear-gradient(0deg, #fc3154 50%, transparent 50%, transparent), linear-gradient(270deg, #fc3154 50%, #ebebeb 50%, #ebebeb)
	.progress-70
		&:after
			background-image: linear-gradient(-18deg, #15c7a8 50%, transparent 50%, transparent), linear-gradient(270deg, #15c7a8 50%, #ebebeb 50%, #ebebeb)
	.progress-85
		&:after
			background-image: linear-gradient(36deg, #eb7d4b 50%, transparent 50%, transparent), linear-gradient(270deg, #eb7d4b 50%, #ebebeb 50%, #ebebeb)
//section portfolio
.home_portfolio
	+design_section(lighten($dangerorange,30%),$black)
	h2
		+tag_before_after()
	h3
		color: $black
	img
		display: inline-block
		padding: 2rem
	ul
		li
			a
				display: inline-block
				transition: .5s all ease-in-out
				color: $black
				background: $dangerorange
				font-size: 1rem
				width: 5rem
				padding: .5rem 1rem
				margin: .5rem 1rem
				text-decoration-line: none
				&:hover,
				&:active
					background: $whites
	.bnt.bnt-more
		display: inline-block
		color: $whites
		background: $sen
		font-size: 2rem
		padding: 1rem
		text-decoration-line: none
		transition: .5s all ease-in-out
		&:hover,
		&:active
			background: lighten($sen,20%)
	+media-breakpoint-down(md)
		ul
			li
				a
					margin: .5rem 0
		.bnt.bnt-more
			font-size: 1rem
//section about
.home_about
	+design_section(darken($pink,30%),$whites,400px)
	h2
		+tag_before_after(darken($pink,10%))
	h4
		color: lighten($carrot,10%)
		font-size: 1rem
	img
		border-radius: 50%
		border: 1px solid $whites
		margin-top: 2rem
		width: 100px
		height: 100px
	+media-breakpoint-up(md)
		.about_content
			img
				display: inline-block
				margin: 2rem 0 1rem 0
				width: 100px
				height: 100px
			p,
			h3,
			h4,
				text-align: left
	+media-breakpoint-up(lg)
		font-size: 2rem
		.about_content
			img
				display: inline-block
				margin: 2rem 0 1rem 0
				width: 100px
				height: 100px
			p,
			h3,
			h4,
				text-align: left
//saction form
.home_form
	+design_section($form-xanh,$whites,700px)
	.home_form_width
		+media-breakpoint-up(sm)
			max-width: 60%
	h2
		+tag_before_after($form-input-xanh)
	p
		font-size: 1rem
	input,
	textarea
		background: $form-input-xanh
		border-color: $form-input-xanh
		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder,
		&:-moz-placeholder
			color: $dangerorange
		&:focus,
		&:active
			background: lighten($form-input-xanh,20%)
			border-color: lighten($form-input-xanh,20%)
	button
		background: $sen
		
