@import ../_core/all
body
	font-family: Roboto
.home_slider 
	+design_section($wisteria,$whites)    
	h1
		color: $whites
		font-size: 1.5rem
		letter-spacing: 2px
		padding-bottom: 3rem
	.btn-more
		color: $whites
		background: $dangerorange
		font-size: 2rem
		padding: 0.5rem
		transition: .5s all ease-in-out
		&:hover,
		&:active
			border-bottom: 2px solid lighten($dangerorange, 50%)
.home_services
	+design_section($tquoise,$whites)
	h2
		+tag_before_after()    
	img
		margin: 2rem
		max-width: 120px
.home_ourteam
	+design_section($border,$black)
	padding: 2rem 0
	img
		padding: .5rem
	ul
		li
			a
				display: block
				height: 2rem
				width: 2rem
				line-height: 2rem
				border-radius: 50%
				background: $whites
				color: $brown
				transition: .5s all ease-in-out
			&:hover,
			&:active
				a					
					background: $peter-river
	+media-breakpoint-up(sm)
		padding: 1rem
		img
			height: 50%
			width: 50%
	+media-breakpoint-up(md)
		img
			height: 80%
			width: 80%
	+media-breakpoint-up(lg)
		img
			height: 60%
			width: 60%
	+media-breakpoint-up(xl)
					


.home_skill
    +design_section($whites,midnight-blue)
    h2
        +tag_before_after()
    h3
        color: darken($whites,100%)
    img
        max-width: 120px
.home_portfolio
    +design_section($dangerorange,darken($whites,100%))
    h2
        +tag_before_after()
    h3
        color: darken($whites,100%)
    img
        max-width: 120px
