extends _layout/layout.pug
block main
	main
		section.home_slider
			.container
				.row
					.col    
						h1 
							|Hi there! We are the new kids on the block 
							br 
							|and we build awesome  websites and mobile apps    
						p
							a.btn.btn-more(href="#") Work with us!
		section.home_services
			.container
				.row
					.col
						h2 SERVICES WE PROVIDE
						p 
							|We are working with both individuals and businesses from all over the globe 
							br 
							|to create awesome websites and applications.
				.row
					.col-sm-6.col-md-3
						img(src="./img/home_icon_1.png",alt="",srcset="")
						h3 BRANDING
						p 
							|Lolem ípum dolor sit amet, 
							br 
							|consetetuer adipiscing elit,
							br
							|sed diam nonummy nibh.
					.col-sm-6.col-md-3
						img(src="./img/home_icon_2.png",alt="",srcset="")
						h3 DESIGN
						p 
							|Sed up perspiciatis unde
							br
							|omnis iste natus error sit
							br
							|voluptatem.
					.col-sm-6.col-md-3
						img(src="./img/home_icon_3.png",alt="",srcset="")
						h3 DEVELOPMENT
						p 
							|At vero eos et accusamus et
							br
							|iusto odio dignissimos qui
							br
							|blanditiis praesentium.
					.col-sm-6.col-md-3
						img(src="./img/home_icon_4.png",alt="",srcset="")
						h3 ROCKET SCIENCE
						p 
							|Et harum quidem rerum est
							br
							|et expedita distinctio. Nam
							|libero tempore|
		section.home_ourteam
			.container
				.row
					.col
						h2 MEET OUR BEAUTIFUL TEEAM
						p 
							|We are a small team of designers and developers, who help brands  with big ideas.	
				.row
					.col-sm-6.col-md-3
						img(src="./img/home_avatar_1.png",alt class="rounded-circle")
						h3 ANNE HATHAWAY
						h4 CEO / Marketing Guru
						p 
							|Lolem ispum dolor sit amet, 
							br 
							|consetetuer adipiscing elit,
							br
							|sed diam nonummy nibh.
						p
							a.btn.btn_social_media(href="#")    
								i.fab.fa-facebook-f			
					.col-sm-6.col-md-3
						img(src="./img/home_avatar_1.png",alt class="rounded-circle")
						h3 KATE UPTON
						h4 Creative Director
						p 
							|Sed up perspiciatis unde
							br
							|omnis iste natus error sit
							br
							|voluptatem.
					.col-sm-6.col-md-3
						img(src="./img/home_avatar_1.png",alt class="rounded-circle")
						h3 OLIVIA WILDE
						h4 Lead Designer
						p 
							|At vero eos et accusamus et
							br
							|iusto odio dignissimos qui
							br
							|blanditiis praesentium.
					.col-sm-6.col-md-3
						img(src="./img/home_avatar_1.png",alt class="rounded-circle")
						h3 ASHLEY GREEN
						h4 SEO / Developer
						p 
							|Et harum quidem rerum est
							br
							|et expedita distinctio. Nam
							br
							|libero tempore.
		section.home_skill
			.container
				.row
					.col
						h2 WE GOT SKILLS!
						p 
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							br
							|tempor incididunt ut labore et dolore magna aliqua. 				
				.row
					.col-sm-6.col-md-3
						img(src="./img/home_avatar_1.png",alt="")
						h3 ANNE HATHAWAY
						p 
							|Lolem ispum dolor sit amet, 
							br 
							|consetetuer adipiscing elit,
							br
							|sed diam nonummy nibh.
					.col-sm-6.col-md-3
						img(src="./img/home_avatar_1.png",alt="",srcset="")
						h3 KATE UPTON
						p 
							|Sed up perspiciatis unde
							br
							|omnis iste natus error sit
							br
							|voluptatem.
					.col-sm-6.col-md-3
						img(src="./img/home_avatar_1.png",alt="",srcset="")
						h3 OLIVIA WILDE
						p 
							|At vero eos et accusamus et
							br
							|iusto odio dignissimos qui
							br
							|blanditiis praesentium.
					.col-sm-6.col-md-3
						img(src="./img/home_avatar_1.png",alt="",srcset="")
						h3 ASHLEY GREEN
						p 
							|Et harum quidem rerum est
							br
							|et expedita distinctio. Nam
							br
							|libero tempore.