extends _layout/layout.pug
block main
	section.home_slider
		.container
			.row
				.col    
					h1 Hi there! We are the new kids on the block and we build awesome  websites and mobile apps    
					p
						a.btn.btn-more(href="#") Work with us!
	section.home_services
		.container
			h2 SERVICES WE PROVIDE
			p aefqafsa
			.row
				.col-sm-6.col-md-3
					img(src="./img/home_icon_1.png",alt="",srcset="")
					h3 asdadsf
					p afasfqasfa
				.col-sm-6.col-md-3
					img(src="./img/home_icon_2.png",alt="",srcset="")
					h3 asdadsf
					p afasfqasfa
				.col-sm-6.col-md-3
					img(src="./img/home_icon_3.png",alt="",srcset="")
					h3 asdadsf
					p afasfqasfa
				.col-sm-6.col-md-3
					img(src="./img/home_icon_4.png",alt="",srcset="")
					h3 asdadsf
					p afasfqasfa
				