=design_section($maunen: #f0f0f0, $mauchu: #000000)
    min-height: 368px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    background: $maunen
    color: $mauchu