<!-- ////////////// HEADER ////////////// -->
header
	.container
		nav
			.row
				.col-md-3
					a.nav_logo(href="")
						img(src='./img/logo.png', alt='')
				.col-md-9
					ul.list-inline-item
						li.list-inline-item
							a(href="#") HOME
						li.list-inline-item
							a(href="#") ABOUT
						li.list-inline-item
							a(href="#") WORK
						li.list-inline-item
							a(href="#") BLOG
						li.list-inline-item
							a(href="#") CONTACT
<!-- ////////////// HEADER ////////////// -->
